[Unit]
Description=Go Reverse Tunnel Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/go-reverse-tunnel
ExecStart=/opt/go-reverse-tunnel/server -config server-config.json
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
